<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Event Details</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mystyle.css') }}">
</head>
<body>
<div class="container">

  <table>
    <tr>
      <th>Name: </th>
      <td>{{ event[0] }}</td>
    </tr>
    <tr>
      <th>Time & Date:</th>
      <td>{{ event[1] }}</td>
    </tr>

    <tr>
      <th>Societies:</th>
      <td>{{ societies|join(', ') }}</td>
    </tr>

    <tr>
      <th>Entry Price(TL):</th>
      <td>{% if event[3] %}{{ event[3] }}{% else %}Free{% endif %}</td>
    </tr>
    <tr>
      <th>Description:</th>
      <td>{{ event[2] }}</td>
    </tr>
  </table>

  <br/>
  <a href="/">Back to Home</a>
</div>
</body>
</html>