<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Advertisement Website</title>
    <link rel="stylesheet" type="text/css" href="static/mystyle.css">
</head>
<body>
<div class="navbar">
{% if username %}
{% if is_admin %}
<a href="/home">Home Page </a> |
<a href="/manageSociety"> Manage Societies </a> |
<a href="/profile">My Profile </a> |
<a href="/logout">Logout</a>
{% else %}
<a href="/home">Home Page </a> |
<a href="/manageEvents">Announced Events </a> |
<a href="/profile">My Profile </a> |
<a href="/logout">Logout</a>
{% endif %}
{% endif %}
</div>

{% if not username %}

<div class="container">
<p>Login</p>
<form method="post" action="/login">
    <p>Username: <input type="text" name="username"/></p>
    <p>Password: <input type="password" name="password"/></p>
    <p><input type="submit" value="Login"/></p>
</form>
<p class="message {{ msg_type }}">
{% if msg %}
{{ msg }}
{% endif %}
</p>
<br />
<p>If you do not have an account, please click <a href="/register">here</a> to create!</p>
</div>
{% endif %}

<hr>
<h2>Search Events</h2>
<form method="post" action="/search">
    <input type="text" name="keyword" placeholder="Search events">
    <select name="society">
        <option value="all">All Societies</option>
        {% for s in societies %}
            <option value="{{ s }}">{{ s }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Search">
</form>

{% if grouped_events %}
<hr>
<h3>Search Results</h3>
{% if search_society == "all" %}
    {% for society, society_events in grouped_events.items() %}
        <h4>{{ society }}:</h4>
        <table>
            <tr>
                <th>Event name</th>
                <th>Description</th>
                <th></th>
            </tr>
            {% for e in society_events %}
            <tr>
                <td>{{ e[1] }}</td>
                <td>{{ e[2] }}</td>
                <td><a href="/event/{{e[0]}}">See More</a></td>
            </tr>
            {% endfor %}
        </table>
    {% endfor %}

{% else %}
<table>
    <tr>
        <th>Event Name</th>
        <th>Description</th>
        <th>Society</th>
        <th></th>
    </tr>
    {% for society_events in grouped_events.values() %}
    {% for e in society_events %}
    <tr>
        <td>{{ e[1] }}</td>
        <td>{{ e[2] }}</td>
        <td>{{ e[3] }}</td>
        <td><a href="/event/{{ e[0] }}">See More</a></td>

    </tr>
    {% endfor %}
{% endfor %}

</table>
{% endif %}
{% elif grouped_events is not none %}
<hr>
<h3>Search Results</h3>
<p>No events found</p>
{% endif %}

</body>
</html>