<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Page</title>
    <link rel="stylesheet" type="text/css" href="static/mystyle.css">
    <script src="/static/validation.js"></script>
</head>
<body>
<div class="container">
<h1>Register</h1>

<form name="formRegistration" action="/applyregister" method="POST" onsubmit="return validate();">
  <p>Username: <input type="text" name="username" required/></p>
  <p>Password: <input type="password" name="password" required/></p>
    <p>Password again: <input type="password" name="password2" required/></p>
  <p>Full name: <input type="text" name="fullname" required/></p>
  <p>Email: <input type="text" name="email" required/></p>

  <p></p><input type="checkbox" name="rules" value="rules"/>Accept the <a href="#">rules</a>if you want to register
  <input type="submit" value="Register">
</form>
<p class="message {{ msg_type }}">
{% if msg %}
{{ msg }}
{% endif %}
</p>

</div>
</body>
</html>